body {
    background: white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 400px;
    background: #000000;
    padding: 20px;
    text-align: center;
    background-image: url("images/background2.jpg");
    background-size: 100%;
    background-position: center;
}

header .mobile {
    display: none;
}

.images {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images figure {
    text-transform: uppercase;
    margin: auto;
    width: 100px;
    text-align: center;
}

.images figure img {
    border: 1px solid white;
    box-shadow: grey 0 0 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

a:hover {
    text-decoration: underline;
}

header .logo a {
    background-image: url("images/logo.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    width: 100px;
    text-indent: -99999999999px;
    top: -40px;
    position: relative;

}

footer {
    background: black;
    color: grey;
    text-align: center;
    font-size: 12px;
    padding: 20px 20px;
}

@media screen and (max-width: 715px) {
    header {
        height: 200px;
    }
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

